# Maintainer: {{ package.maintainer_name }} <{{ package.maintainer_email }}>
pkgname={{ package.name }}
pkgver={{ package.version }}
pkgrel=1
pkgdesc="{{ package.description }}"
arch=("{{ target.architecture }}")
url="{{ package.url }}"
license=("{{ package.license }}")
groups=()
depends=({% if target.dependencies %}"{{ '","'.join(target.dependencies) }}"{% endif %})
makedepends=("python-setuptools")
provides=()
conflicts=()
replaces=()
backup=()
options=()
install=
source=()
changelog="changelog"
noextract=()
md5sums=()

build() {
    # for some reason this starts in the source directory
    cd ..
    echo $PWD
    python setup.py build
}

package() {
    # for some reason this starts in the source directory
    cd ..
    echo $PWD
    python setup.py install --root="$pkgdir" --optimize=1 --skip-build
}
